@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}
a:hover { text-decoration: none }
a:focus { outline: 0 solid; text-decoration: none}
img {
    max-width: 100%;
    height: auto;
}
input:focus, button:focus, textarea:focus, a:focus {outline: none}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 700;
}
p:last-child {
    margin-bottom: 0
}
body{
    font-family: 'Poppins', sans-serif;
}

.flex-1{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}
.align-bottom{
    align-items: flex-end;
}

.slidebg-1{background:url(assets/image/slidebg1.jpg);}
.slidebg-2{background:url(assets/image/slidebg2.jpg);}
.slidebg-3{background:url(assets/image/slidebg3.jpg);}
.slidebg-4{background:url(assets/image/slidebg4.jpg);}
.slidebg-5{background:url(assets/image/slidebg5.jpg);}
.slidebg-6{background:url(assets/image/slidebg6.jpg);}
/******************/

.logo img{
    width: 80px;
}

.bannar img {
    margin-bottom: 18px;
}

.content-area{
    left: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}
.menu-bar .fas{
    font-size: 30px;
    color: #ffffff;
}

.menu-bar{
    display: block;
    background: rgba(17, 13, 13, 0.788);
    width: 50px;
    height: 50px;
    opacity: 80%;
}
.menu-bar .fas{
    line-height: 50px;
}

.sub-header{
    display: flex;
    align-items: center;
    background: #1A1DAA;
    color: #fff;
    height: 35px;
    font-size: 14px;
    font-weight: 500;
}

.sub-header .fas, .far, .fab{
    margin-right: 10px;
}

.sub-header a{
    text-decoration: none;
    color: #fff;
}

/********************/

.container-fluid{
    overflow-x: hidden;
}
.single-slide{
    width: 100%;
    height: 80vh;
    background-size: 100% 80vh;
    background-repeat: no-repeat;
    background-position: center;
}
.black-bg{
    position: absolute;
    width: 100%;
    height: 150px;
    text-align: center;
    bottom: 0;
    background: black;
    opacity: .6;
}
.content-text{
    display: block;
    width: 50%;
    color: #fff;
    padding: 20px 50px;
}
.slide-area button.owl-dot {
    background: #fff;
    height: 10px;
    width: 10px;
    margin-left: 10px;
    border-radius: 50%;
    display: inline;
    text-align: center;
}
.slide-area button.owl-dot.active{
    background: blue;
    height: 12px;
    width: 12px;
}
.slide-area .owl-dots {
    position: absolute;
    bottom: 6px;
    right: 10px;
}
.slide-area .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 60px;
    color: #262727;
    width: 100%;
    left: 5%;
    opacity: .2;
    transition: ease .5ms;
}
.slide-area:hover .owl-nav {
    opacity: .6;
}

.slide-area button.owl-next {
    position: absolute;
    right: 10%;
}
.container-fluid{
    padding: 0 0;
}

/* about section css */
.section-padding{
    padding: 50px 0;
}
.section-title h3{
    margin: 50px 0;
    text-transform: uppercase;
    color: steelblue;
}
.section-title i{
    margin: 0 10px;
}
.about{
    display: block;
    /* background: rgb(225, 227, 230); */
    background: linear-gradient(rgba(255,255,255,.9),rgba(240,255,240,.7)), url(assets/image/16293.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 60px;
}
.right-col p{
    font-size: 18px;
    font-weight: 300;
    color: rgb(48, 48, 48);
    margin-left: 50px;
    text-align: center;
}

.right-col span{
    font-size: 20px;
    font-weight: 600;
}
.left-col{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.left-col img{
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.pro-text{
    margin-top: 25px;
    margin-bottom: 25px;
}

.pro-text h4{
    text-transform: uppercase;
    height: 50px;
}

.pro-text h4 span{
    display: block;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.pro-text h4:after {
    background-color: #888;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 40%;
    bottom: 42px;
  }

.right-col .fab{
    display: block;
    text-align: center;
    font-size: 50px;
    margin-bottom: 25px;
    color:dimgray;
}

.box-boder{
    border-right: 2px solid rgb(204, 204, 204);
}

/* social-like css start */

.social-like{
    display: block;
    position: relative;
    height: 100px;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 50px;
    padding: 30px 0;
    box-shadow: 2px 6px 3px 0px #888;
    top: -50px;
}
.social-like .row{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    text-align: center;
}
.social-like .social-icon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: steelblue;
    border-right: 3px solid rgb(171, 191, 207);
}
.social-like .social-icon:nth-child(4n+4){
    border-right:none;
}
.social-icon i{
    margin-right: 20px;
}
.social-icon .counter{
    font-weight: 500;
    
}

.social-icon .fa-facebook{
    color: #3b5998;
}

.social-icon .fa-twitter{
    color: #00acee;
}

.social-icon .fa-pinterest{
    color: #E60023;
}
.social-icon .fa-instagram{
    color: #8a3ab9;
}

/* social area end */

/* product-glarry-start */

.pro-gal-area{
    column-count: 4;
    column-gap: 1em;
}

.product-img img{
    background-color: #eee;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    transition: .2s;
}
.product-img:hover{
    transform: scale(1.09);
}

/* product-glarry-end */
/* Brand-logo css start */

.brand-logo{
    background: #c4ecf8;
}

.brand-logo .single-brand{
    background: #fff;
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.logo-carousel{
    display: block;
    margin-bottom: 80px;
}
.logo-carousel .owl-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: rgb(92, 207, 241);
    width: 95%;
    opacity: 0.2;
    transition: all 0.5ms ease 0s;
    left: 2.5%;
}
.logo-carousel:hover .owl-nav {
    opacity: .6;
}

.logo-carousel button.owl-next {
    position: absolute;
    right: 0;
}
/* Brand-logo css end */

/* testimonial section start */
.testimonial{
    background: #fff9f8;
}
.testimonial-slider{
    display: block;
    text-align: center;
    margin-bottom: 30px;
}
.testimonial-slider .single-slides{
    width: 70%;
    margin: 0 auto;
}
.quote{
    display: inline-block;
    margin: 50px 0;
    text-align: center;
}
.testi-client img{
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
.testimonial .owl-carousel .owl-item img {
    display: inline-block;
    width: 80px;
}
/* .testi-text{
    /* font-family: 'Rufina', serif; 
} */
.testi-client span{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.testimonial .owl-carousel button.owl-dot{
    background: rgb(192, 193, 194);
    height: 10px;
    width: 10px;
    margin-right: 10px;
    border-radius: 50px;
}
.testimonial .owl-carousel button.owl-dot.active{
    background: blue;
    height: 12px;
    width: 12px;
}

/* testimonial section end */

/* footer-area-start */
.footer-area{
    background:rgb(241, 238, 238);
    padding: 30px 0;
}
.footer-area .head-line{
    margin: 20px 0;
}
.footer-logo{
    width: 80px;
    margin: 20px 0 15px 0;
}
.footer-title{
    text-transform: uppercase;
    color:rgb(14, 34, 90)
}
.footer-area a{
    text-decoration: none;
}

.footer-area h5{
    color:rgb(27, 38, 104)
}

.footer-area ul{
    list-style: none;
    padding-left: 0;
}

.footer-area ul li{
    display: inline-block;
    margin: 0 5px;
    font-size: 30px;
    text-align: center;
}

.footer-area ul li a{
    display: inline-block;
    color: rgb(24, 24, 24);

}
.footer-area ul li a:hover{
    opacity: .8;
}

.footer-area li{
    list-style: none;
}
.footer-area .contact{
    text-decoration: none;
    color: rgb(24, 24, 24);
    margin-bottom: 10px;
}

.footer-area a.contact {
    line-height: 2;
}

.footer-area a.contact i{
    margin-right: 10px;
}
.footer-area a:hover{
    color: steelblue;
}

#email{
    position: relative;
    display: inline-block;
    width: 70%;
    padding: 5px 16px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: none;
    border: 1px solid #3b5998;
}    

button[type=submit]{
    position: absolute;
    padding: 6.3px 15px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: rgb(25, 0, 255);
    color: #fff;
    border: none;
    
}

button[type=submit]:hover{
    background: darkblue;
}

form {
    text-align: center;
    transform: translateX(-9%);
}

.news{
    margin-top: 20px;
}
.sub-footer{
    background: #1A1DAA;
    color: #fff;
    padding: 10px 0;
}

.sub-footer p a{
    color: #fff;
    text-decoration: none;
}
.sub-footer p a:hover{
    color: aquamarine;
}

.sub-footer .text-right p{
    float: right;
}

/* footer-area-end */

/* scroll-top start */
#myBtn {
    display: none; 
    position: fixed; 
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 90px; 
    right: 30px; 
    z-index: 99;
    border: none; 
    outline: none; 
    background-color: rgb(0, 166, 216); 
    color: white; 
    cursor: pointer; 
    font-size: 30px; 
}
  
#myBtn:hover {
    background-color: rgb(59, 56, 56); 
}

#loader{
    background: #E5EFF1 url(assets/image/loader.gif) no-repeat center center;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
}

/**** Thank you section css start***/

.center-box{
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.thank-title{
    text-align: center;
    font-size: 20px;
}

a.btn-home{
    font-size: 15px;
    font-weight: 500;
    border: none;
    background: #3b5998;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
}

a.btn-home:hover{
    background: #262727;
}

/* thank you css end*/