@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    font-size: 16;
    font-weight: 200;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header-area{
    /*background-image: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%), url('img/hero-img.png');*/
    background-image: linear-gradient(to right,rgba(52, 36, 161, 0.8) 0%,rgba(170, 86, 200, 0.8) 100%), url('img/hero-img.png');
    width: 100%;
    height: 100vh;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 5px solid blueviolet;
    /*background: linear-gradient(to bottom, rgba(0,47,75,0.5) 0%,rgba(220, 66, 37, 0.5) 100%);*/
}

.container{
    display: flex;
    margin: 0 30px;
    color: white;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    display: inline-block;
    text-align: center;
    margin: 0 35px;
    padding-left: 20px;
}

.logo a{
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
}


/* flex menu-area css*/

.container-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: wrap;
    width: 500px;
}

.menu-box{
    margin: 35px;
}

.menu-box ul{
    float: left;
    display: flex;
    list-style-type: none;
}

.menu-box ul li{
    padding: 0 20px;   
}

.menu-box ul li a{
    display: inline-block;
    color:white;
    font-weight: 400;
    text-decoration: none;
}

.menu-box ul li a:hover{
    color: black;
    transition: ease-in 0.7s;
}

.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
    color: white;
}

.heading h4{
    font-size: 30px;
    font-weight: 400;
    line-height: 0%;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.heading h1{
    font-size: 170px;
    font-weight: 100;
}

.button{
    display: inline;
    padding: 10px 25px;
    border: 2px solid white;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 400;
    color: white;
    transition: ease-in-out .7s;
}

.header-area .button:hover{
    color:blueviolet;
    background-color: whitesmoke;
    border: 2px solid blueviolet;
}

/* Second Section*/
.reasons{
    height: 100vh;
}

.reasons a.button{
    /*background-color: blueviolet; */
    background-image: linear-gradient(to right, blueviolet , blue);
    border: none;
}

.reasons a.button:hover{
    background-image: linear-gradient(to right,blue,  blueviolet);
    color: white;
}

.flex-container {
    display: flex;
    align-items: center;
  }

.reasons .flex-right img{
    width: 600px;
    height: auto;
    margin: 100px 100px 100px 0;
    
}

.reasons .flex-left{
    margin: 0 0 0 100px;
    padding: 45px 0;
}

.reasons .flex-left h1{
    font-size: 45px;
    font-weight: 200;
    margin-bottom: 20px;
    line-height: 45px;
    border-left: 5px solid blueviolet;
    padding-left: 15px;
}

.reasons .flex-left h1 span{
    font-weight: 600;
    color: blueviolet;
}

.reasons .flex-left p{
    padding-bottom: 40px;
    font-weight: 400;
    margin-right: 100px;
}

/*Third Section*/

.reasons-right{
    background-image: url('img/notebook.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    color: black;
    border-top: 5px solid blueviolet;
    border-bottom: 5px solid rgb(216, 216, 216);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-container2{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.reasons-right .flex-right{
    text-align: right;
    /*margin-top: 50px; */
    padding: 10px;
    flex: 50%;
}

.reasons-right .flex-left{
    padding: 10px;
    flex: 50%;
}

.reasons-right .flex-right h1 {
   /* margin-top: 100px; */
    font-size: 45px;
    line-height: 47px;
    margin-bottom: 25px;
    border-right: 5px solid black;
    padding-right: 15px;
    margin-right: 100px;
}

.flex-right h1 span {
    font-weight: 600;
}

.flex-right p {
    font-weight: 400;
    margin-right: 100px;
    padding-bottom: 32px;
}

.flex-right a.button{
    color: black;
    border: 2px solid black;
    margin-right: 100px;
}

.flex-right a.button:hover {
    border: 2px solid blueviolet;
    transition: ease-in-out .7s;
    background-color: rgb(255, 255, 255);
}

.flex-right .button:hover i{
    color: blueviolet;
}


/*contact-area*/

.box-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.contact-box{
    width: 600px;
    height: 100%;
    margin: 50px 100px;
    background-color:#A26BC7;
    padding: 35px 50px;
}

.contact-box h1{
    font-size: 25px;
    font-weight: 600;
}

.contact-box h4{
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 20px;
}
.contact-box h1 span{
    color: white;
    font-weight: 600;
}

.contact-left-side img{
    width: 650px;
}

input[type=submit]{
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    padding: 10px;
    width: 150px;
    font-size: 16px;
    font-weight: 500;
    background-color: #7B26E5;
    color: white;
    border: 0;
    border-radius: 20px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color:  #6c1dcc;
  }

input[type=text], textarea {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }


  /*-- footer area css--*/

.footer-area{
    background-color: #2F34A4;
    color: white;
    padding: 18px;
    text-align: center;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.footer-tex span{
    font-weight: 600;
    color: yellow;
}