/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .logo img{
        width: 60%
    }
    .sub-header{
        font-size: 12px;
    }
    #myBtn{
        bottom: 90px;
    }
    section.body-bannar{
        margin-top: 135px;
    }
    
}
/* Tablet & mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
    .logo img{
        width: 70%
    }
    .sub-header{
        font-size: 12px;
    }
    .pro-gal-area{
        column-count: 3;
        column-gap: 1em;
    }
    #myBtn{
        bottom: 90px;
    }
    section.body-bannar{
        margin-top: 135px;
    }
    .single-slide{
        position: relative;
        height: 70vh;
    }

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .logo img{
        width: 70%
    }
    .sub-header .container .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .right-col {
        margin-left: 0;
    }
    .right-col p {
        margin-left: 0;
        font-size: 15px;
    }
    .right-col ul.item-name{
        font-size: 15px;
    }
    .right-col .item-name span {
        font-size: 15px;
        font-weight: 600;
        display: block;
    }
    .right-col .item-name i{
        font-size: 10px;
        text-align: center;
        margin: 0 8px;
        color: rgb(140, 165, 172);
    }
    .pro-gal-area{
        column-count: 3;
        column-gap: 1em;
    }
    .social-like .social-icon{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }   
    .social-like .row {
        display: grid;
        grid-template-columns: auto auto auto auto;
        text-align: center;
        margin: 5px 0;
    }
    #myBtn{
        bottom: 90px;
    }
    section.body-bannar{
        margin-top: 115px;
    }
    .single-slide{
        position: relative;
        height: 70vh;
    }

}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    html,body{
        overflow-x: hidden;
    }
    .sub-header{
        display: none;
    }
    .header{
        padding-top: 20px;
    }
    section.body-bannar{
        margin-top: 125px;
    }
    .box-boder{
        border-right: none;
    }
    .bannar img {
        height: 2rem;
    }
    .logo img{
        width: 20%
    }
    .single-slide{
        position: relative;
        height: 45vh;
    }
    .content-text{
        display: block;
        width: 100%;
        color: #fff;
        padding: 10px 10px;
    }
    .content-text h4{
        font-size: 18px;
        font-weight: 400;
    }
    .content-text p{
        font-size: 15px;
        font-weight: 200;
    }
    .social-area{
        padding: 5px 5px;
        height: auto;
    }
    .pro-gal-area{
        column-count: 2;
        column-gap: 1em;
    }
    
    .product-img img{
        background-color: #eee;
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
    }
    .testimonial-slider .single-slides{
        width: 90%;
        margin: 0 auto;
    }

    .sub-footer .col-md-6{
        text-align: center;
    }
    .social-like .container {
        margin-top: -15px;
    }
    .social-like .social-icon{
        font-size: 20px;
        border-right: 2px solid grey;
    }
    .social-like .social-icon:nth-child(2n+2){
        border-right:none;
    }
    .right-col {
        margin-left: 0;
    }
    .right-col p {
        margin-left: 0;
        font-size: 16px;
    }
    .right-col ul.item-name{
        font-size: 16px;
    }
    .right-col .item-name span {
        font-size: 18px;
        font-weight: 600;
        display: block;
    }
    .right-col .item-name i{
        font-size: 8px;
        text-align: center;
        margin: 0 8px;
        color: rgb(140, 165, 172);
    }
    .alignleft {
        margin-right: 0;
    }
 
    .social-area{
        margin: 0 auto;
    }
    .section-title h3{
        font-size: 20px;
    }
    .social-like .row{
        display: grid;
        grid-template-columns: auto auto ;
        row-gap:10px;
        text-align: center;
    }
    .slide-area .owl-nav {
        font-size: 30px;
    }
    #myBtn{
        bottom: 90px;
    }
    .about{
        padding-top: 0;
    }
    .sub-footer{
        font-size: 14px;
    }
    .footer-area p{
        font-size: 16px;
    }
    .footer-area .head-line{
        font-size: 18px;
    }


}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    html,body{
        overflow-x: hidden;
    }
    .sub-header{
        display: none;
    }
    .header{
        padding-top: 20px;
    }
    section.body-bannar{
        margin-top: 125px;
    }
    .box-boder{
        border-right: none;
    }
    .bannar img {
        height: 2rem;
    }
    .logo img{
        width: 20%
    }
    .single-slide{
        position: relative;
        height: 60vh;
    }
    .content-text{
        display: block;
        width: 100%;
        color: #fff;
        padding: 10px 10px;
    }
    .content-text h4{
        font-size: 18px;
        font-weight: 400;
    }
    .content-text p{
        font-size: 15px;
        font-weight: 200;
    }
    .social-area{
        padding: 5px 5px;
        height: auto;
    }
    .pro-gal-area{
        column-count: 2;
        column-gap: 1em;
    }
    
    .product-img img{
        background-color: #eee;
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
    }
    .testimonial-slider .single-slides{
        width: 90%;
        margin: 0 auto;
    }

    .sub-footer .col-md-6{
        text-align: center;
    }
    .social-like .container {
        margin-top: -15px;
    }
    .social-like .social-icon{
        font-size: 20px;
        border-right: 2px solid grey;
    }
    .social-like .social-icon:nth-child(2n+2){
        border-right:none;
    }
    .right-col {
        margin-left: 0;
    }
    .right-col p {
        margin-left: 0;
        font-size: 16px;
    }
    .right-col ul.item-name{
        font-size: 16px;
    }
    .right-col .item-name span {
        font-size: 18px;
        font-weight: 600;
        display: block;
    }
    .right-col .item-name i{
        font-size: 8px;
        text-align: center;
        margin: 0 8px;
        color: rgb(140, 165, 172);
    }
    .alignleft {
        margin-right: 0;
    }
 
    .social-area{
        margin: 0 auto;
    }
    .section-title h3{
        font-size: 20px;
    }
    .social-like .row{
        display: grid;
        grid-template-columns: auto auto ;
        row-gap:10px;
        text-align: center;
    }
    .slide-area .owl-nav {
        font-size: 30px;
    }
    #myBtn{
        bottom: 90px;
    }
    .about{
        padding-top: 0;
    }
    .sub-footer{
        font-size: 14px;
    }
    .footer-area p{
        font-size: 16px;
    }
    .footer-area .head-line{
        font-size: 18px;
    }

    
}