/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    .sub-header{
        font-size: 12px;
    }
    #myBtn{
        bottom: 90px;
    }

    
}
/* Tablet & mobile Layout: 768px. */
@media only screen and (max-width: 991px) { 
    .sub-header{
        font-size: 12px;
    }
    .pro-gal-area{
        column-count: 3;
        column-gap: 1em;
    }
    #myBtn{
        bottom: 90px;
    }

}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .sub-header .container .row{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pro-gal-area{
        column-count: 3;
        column-gap: 1em;
    }
    #myBtn{
        bottom: 90px;
    }

    
}
/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) { 
    html,body{
        overflow-x: hidden;
    }
    .sub-header{
        display: none;
    }
    
    .header{
        margin-top: 20px;
    }
    .box-boder{
        border-right: none;
    }
    .content-text{
        display: block;
        width: 100%;
        color: #fff;
        padding: 10px 10px;
    }
    .content-text h4{
        font-size: 18px;
        font-weight: 400;
    }
    .content-text p{
        font-size: 15px;
        font-weight: 200;
    }
    .social-area{
        padding: 5px 5px;
        height: auto;
    }
    .pro-gal-area{
        column-count: 2;
        column-gap: 1em;
    }
    
    .product-img img{
        background-color: #eee;
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
    }
    .testimonial-slider .single-slides{
        width: 90%;
        margin: 0 auto;
    }

    .sub-footer .col-md-6{
        text-align: center;
    }
    .social-like .container {
        margin-top: -15px;
    }
    .social-like .social-icon{
        font-size: 20px;
        border-right: 2px solid grey;
    }
    .social-like .social-icon:nth-child(2n+2){
        border-right:none;
    }
    .right-col p {
        margin-left: 0;
        font-size: 14px;
    }
    .alignleft {
        margin-right: 0;
    }
 
    .social-area{
        margin: 0 auto;
    }
    .section-title h3{
        font-size: 20px;
    }
    .social-like .row{
        display: grid;
        grid-template-columns: auto auto ;
        row-gap:10px;
        text-align: center;
    }
    .slide-area .owl-nav {
        font-size: 30px;
    }
    #myBtn{
        bottom: 90px;
    }
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    html,body{
        overflow-x: hidden;
    }
    
    .sub-header{
        display: none;
    }
    .header{
        margin-top: 20px;
    }
    .box-boder{
        border-right: none;
    }
    .content-text{
        display: block;
        width: 100%;
        color: #fff;
        padding: 10px 10px;
    }
    .content-text h4{
        font-size: 18px;
        font-weight: 400;
    }
    .content-text p{
        font-size: 15px;
        font-weight: 200;
    }
    .social-area{
        padding: 5px 5px;
        height: auto;
    }
    .pro-gal-area{
        column-count: 2;
        column-gap: 1em;
    }
    
    .product-img img{
        background-color: #eee;
        display: inline-block;
        margin: 0 0 1em;
        width: 100%;
    }
    .testimonial-slider .single-slides{
        width: 90%;
        margin: 0 auto;
    }

    .sub-footer .col-md-6{
        text-align: center;
    }
    .social-like .container {
        margin-top: -15px;
    }
    .social-like .social-icon{
        font-size: 20px;
        border-right: 2px solid grey;
    }
    .social-like .social-icon:nth-child(2n+2){
        border-right:none;
    }
    .right-col p{
        margin-right: 0;
        font-size: 14px;
    }
    .alignleft {
        margin-right: 0;
    }
    .social-area .social-icon {
        border-right:none;
    }
    .social-area{
        margin: 0 auto;
    }

    .section-title h3{
        font-size: 20px;
    }
    .social-like .row{
        display: grid;
        grid-template-columns: auto auto ;
        row-gap: 10px;
        text-align: center;
    }
    .slide-area .owl-nav {
        font-size: 30px;
    }
    #myBtn{
        bottom: 90px;
    }

    
}